/* Color Palette
  White: #ffffff;
  Black: #000000;
  Medium Gray: #999999;
  Light Gray: #dddddd;
  Light blue: #99ffff;
*/


/*********** Begin Layout Styles ***********/
body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;

}

div.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
   max-width: 1500px; /* disable this line if you want full-width layouts */
 }

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  /* border: 3px solid #990000; disable this line once layout works */
  align-items: center;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo_phone"
    "name"
    "navigation";
}

main {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "menu menu"
    'about_us about_us'
    "directions hours"
    "coupons coupons"
    "reviews reviews"
    "t-shirt t-shirt";
}

main.menu-page {
  grid-template-columns: 1fr;
}

footer {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "social contact"
    "credits credits";
}

div#ravioli {
  grid-column: span 2;
}


/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo name"
      "navigation navigation";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "about_us about_us hours"
      "coupons directions directions"
      "reviews reviews reviews"
      "t-shirt t-shirt t-shirt";
  }

  main.menu-page {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "contact social"
    "credits credits";
  }

  div#ravioli {
  	grid-column: span 3;
	}

}

/* desktops */
@media (min-width: 900px) {
  header {
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr;
    grid-template-areas:
      "logo name"
      "navigation navigation";

  }

  main {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "about_us about_us directions"
      "reviews coupons hours"
      "reviews t-shirt t-shirt";
  }

  main.menu-page {
    grid-template-columns: 1fr 1fr;
  }


  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social contact"
    "credits credits";
  }

  div#ravioli {
  	grid-column: span 3;
	}

}

@media (min-width: 600px) {
  div#logo_phone {
    display: none;
  }
}

@media (max-width: 599px) {
  div#carousel {
  display: none;
  }
  div#logo {
    display: none;
  }
  div#t-shirt {
  	display: none;
	}

}

div {
 /*border: 1px solid #999999;*/
 text-align: center;
}

main div {
    /*min-height: 80px; disable this line once layout works */
}


div#name {
    grid-area: name;
}

div#logo {
  grid-area: logo;
}

div#logo_phone {
  grid-area: logo_phone;
}

div#menu {
  grid-area: menu;
}

div#about_us {
  grid-area: about_us;
}

div#navigation {
  grid-area: navigation;
}


div#directions {
  grid-area: directions;
}

div#coupons {
  grid-area: coupons;
}

div#hours {
  grid-area: hours;
}

div#carousel {
  grid-area: carousel;
  overflow: hidden;
}

div#reviews {
  grid-area: reviews;
}

div#social {
  grid-area: social;
}

div#contact {
  grid-area: contact;
}

div#credits {
  grid-area: credits;
}

div#t-shirt {
  grid-area: t-shirt;
}


/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/


@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

/* Headings */
h1 {
  font-family: 'Italianno', cursive;
  font-size: 100px;
  text-align: center;
}

h1.name {
  font-family: 'Italianno', cursive;
  font-size: 85px;
  text-align: left;
  margin: 0;
}

h1.menu {
  font-family: 'Italianno', cursive;
  font-size: 100px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: 'Italianno', cursive;
  font-size: 50px;
}

h3 {
  font-family: 'Italianno', cursive;
  font-size: 35px;
}

h4 {
  font-family: 'Forum', cursive;
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-family: 'Italianno', cursive;
  font-size: 30px;
}

h6 {

}

hr {
  display: block;
  margin-left: 60px;
  margin-right: 60px;
  border-width: 3px;
  color: #000000;
}
/* Paragraphs and lists */

p {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

p.reviews {
font-family: 'Forum', cursive;
font-size: 20px;
line-height: 1.5;
}

p.menu {
font-family: 'Forum', cursive;
font-size: 18px;
text-align: center;
padding-left: 65px;
padding-right: 65px;
line-height: 1.5;
}

ol {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
text-align: center
}

li.ravioli {
  text-align: center;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

span.price
{
  text-align: right;
  color: #C5333E;
  font-weight: bold;
}

/* tables */

caption {

}

table {
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
}

thead {
font-weight: bold;
}

tr {
color: #000000;
font-family: 'Lobster', cursive;
background-color: #ffffff;
font-size: 19px;
}

th {
  /* background-color: #0F2548; */
  color: #FEFEFE;
  padding: 7px;
}

td {
  padding: 7px;
}

/* images */
img {
  max-width: 100%
}


@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

iframe {
  max-width: 100%
}

/* links */

a:link {
color: #C5333E;
}

a:visited {
color: #C5333E;
}

a:hover {
color: #354b6d;
}

a:active {
color: #444444;
}

/* navagtion bar */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #C5333E;
    display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    flex-grow: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 55px;
    font-family: 'Italianno', cursive;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

}


/* forms */
.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -5px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

/*********** End Content Styles ***********/
